.home {
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 1fr 1fr 0.1fr;
  grid-template-rows: 0.4fr 1.5fr 1.3fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
  justify-items: stretch;
}
